body {
    color: green;
    background: black;
    margin: 0px;
}
 header {
    border: solid 2px rgb(0, 128, 0, 1);
    padding: 20px;
    font-size: 35px;
    color:rgb(0, 128, 0, 1);
 }
 
 section {

    background: rgb(72, 255, 0, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 10px;
 }